<div class="container-fluid order-history-section manage-user">
    <input type="hidden" id="CateMas_hdn_Id" />
    <div class="row" style="margin-top: -12px;">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="order-title">
                <h2 id="CateMas_h2_titl"></h2>
                <div class="main-header-page add-new-btn" style="float: right;margin: 0px 0;" id="CateMas_btn_AddNew">
                    <a onclick="CateMas_AddNew();" href="javascript:void();" style="padding: 2px 8px;">
                        <h1 style="color: green;font-size: 13px;">+ Add New</h1>
                    </a>
                </div>
                <div class="main-header-page add-new-btn" style="float: right;display:none;margin: 0px 0;" id="CateMas_btn_Back">
                    <a onclick="CateMas_Back();" href="javascript:void();" style="padding: 2px 8px;">
                        <h1 style="color: green;font-size: 13px;">Back</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="aggrid-section CateMas_gridview">
        <div class="row">
            <div class="col-xl-12">
                <div class="agGrid-box-main mt-2">
                    <div id="Cart-Gride" class="ag-theme-balham ag-fresh" style="float: left; width: 100%; "></div>

                </div>
            </div>
        </div>
    </div>

    <div class="row CateMas_AddEdit" style="display:none;">
        <div class="col-8">
            <div class="myoffer-form full-acform mt-0">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row fl-sec-form">
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <div class="offer-label">Category Name:<span class="reqvalidation"> * </span></div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                <div class=" dash-newarrival-select-main text-left w-100 ml-0">
                                    <input type="text" tabindex="1" class="form-control" id="CateMas_txt_CategoryName" maxlength="100" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <div class="offer-label">Column Name:<span class="reqvalidation"> * </span></div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                <div class=" dash-newarrival-select-main text-left w-100 ml-0">
                                    <select class="form-control MinWith input-sm" id="CateMas_ddl_OurColumn" tabindex="2">
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <div class="offer-label">Active:</div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                <div class=" dash-newarrival-select-main text-left w-100 ml-0">
                                    <input type="checkbox" tabindex="4" id="CateMas_Status" name="CateMas_Status" checked>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2 pt-2" style="border-top:1px solid #ddd;">
                                <ul class="offer-inbtn pull-right mrtop">
                                    <li>
                                        <button onclick="CateMas_Save()" tabindex="12" class="offer-btn">Save</button>
                                    </li>
                                    <li>
                                        <button onclick="CateMas_Clear()" tabindex="13" class="offer-btn">Reset</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Content/js/wow.min.js"></script>
<script src="~/Content/js/moment.min.js"></script>
<script src="~/Content/js/ag-grid-enterprise.min.js"></script>

<script>
    $(document).ready(function () {
        CateMas_GetSearch();
        Master_Get();
    });

    function Master_Get() {
        var obj = {};
        obj.Not_Col_Id = "9,67,49,46";

        $.ajax({
            url: "/User/Get_ColumnMaster",
            async: false,
            type: "POST",
            data: { req: obj },
            success: function (data, textStatus, jqXHR) {
                if (data.Status == "1" && data.Data != null) {
                    debugger
                    $("#CateMas_ddl_OurColumn").html("<option value=''>Select</option>");
                    _(data.Data).each(function (obj, i) {
                        $("#CateMas_ddl_OurColumn").append("<option value=\"" + obj.Col_Id + "\">" + obj.Column_Name + "</option>");
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
            }
        });
    }
    var CateMas_Rowdata = [];
    var CateMas_gridOptions = {};
    //single node get from Multi diamension Array List
    function filterByProperty(data, prop, value) {
        var filtered = [];
        for (var i = 0; i < data.length; i++) {
            var obj = data[i];
            if (obj[prop] == value) {
                filtered.push(data[i]);
            }
        }
        return filtered;
    }
    var CateMas_columnDefs = [
        { headerName: "Id", field: "Cat_Id", hide: true },
        { headerName: "Sr", field: "iSr", tooltip: function (params) { return (params.value); }, sortable: false, width: 40 },
        { headerName: "Action", field: "bIsAction", tooltip: function (params) { return (params.value); }, width: 60, cellRenderer: CateMas_Action, sortable: false },
        { headerName: "Category Name", field: "Column_Name", tooltip: function (params) { return (params.value); }, width: 250 },
        { headerName: "Column Name", field: "Col_Column_Name", tooltip: function (params) { return (params.value); }, width: 250, sortable: false },
        { headerName: "Active", field: "Status", sortable: true, tooltip: function (params) { return (params.value); }, width: 58, cellRenderer: CateMas_Status, },
    ];
    function CateMas_Status(params) {
        if (params.data.Status == true) {
            return "<span class='Yes'> Yes </span>";
        }
        else {
            return "<span class='No'> No </span>";
        }
    }
    function CateMas_Action(params) {
        var element = "";
        element = '<a title="Edit" onclick="CateMas_EditView(\'' + params.data.Cat_Id + '\')" ><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 17px;cursor:pointer;"></i></a>';
        //element += '&nbsp;&nbsp;<a title="Delete" onclick="DeleteView(\'' + params.data.UserId + '\')"><i class="fa fa-trash-o" aria-hidden="true" style="cursor:pointer;"></i></a>';
        return element;
    }
    function CateMas_EditView(Cat_Id) {
        var data = filterByProperty(CateMas_Rowdata, "Cat_Id", Cat_Id);
        if (data.length == 1) {
            $("#CateMas_hdn_Id").val(data[0].Cat_Id);
            $("#CateMas_txt_CategoryName").val(data[0].Column_Name);
            $("#CateMas_ddl_OurColumn").val(data[0].Col_Id);

            document.getElementById("CateMas_Status").checked = data[0].Status;

            $(".CateMas_gridview").hide();
            $(".CateMas_AddEdit").show();
            $("#CateMas_btn_AddNew").hide();
            $("#CateMas_btn_Back").show();
            $("#CateMas_h2_titl").html("Edit Category");
        }
    }

    function CateMas_GetSearch() {
        if (CateMas_gridOptions.api != undefined) {
            CateMas_gridOptions.api.destroy();
        }

        CateMas_gridOptions = {
            defaultColDef: {
                enableSorting: true,
                sortable: true,
                resizable: true,
                filter: 'agTextColumnFilter',
                filterParams: {
                    applyButton: true,
                    resetButton: true,
                }
            },
            pagination: true,
            icons: {
                groupExpanded:
                    '<i class="fa fa-minus-circle"/>',
                groupContracted:
                    '<i class="fa fa-plus-circle"/>'
            },
            rowSelection: 'multiple',
            suppressRowClickSelection: true,
            columnDefs: CateMas_columnDefs,
            //rowData: data,
            rowModelType: 'serverSide',
            //onGridReady: onGridReady,
            cacheBlockSize: 500, // you can have your custom page size
            paginationPageSize: 500, //pagesize
            getContextMenuItems: getContextMenuItems,
            paginationNumberFormatter: function (params) {
                return '[' + params.value.toLocaleString() + ']';
            }
        };
        var gridDiv = document.querySelector('.CateMas_gridview #Cart-Gride');
        new agGrid.Grid(gridDiv, CateMas_gridOptions);

        $(".CateMas_gridview .ag-header-cell-text").addClass("grid_prewrap");

        CateMas_gridOptions.api.setServerSideDatasource(CateMas_datasource1);
    }
    var SortColumn = "";
    var SortDirection = "";
    var CateMas_datasource1 = {
        getRows(params) {
            var PageNo = CateMas_gridOptions.api.paginationGetCurrentPage() + 1;
            var obj = {};

            if (params.request.sortModel.length > 0) {
                obj.OrderBy = params.request.sortModel[0].colId + ' ' + params.request.sortModel[0].sort;
            }
            obj.PgNo = PageNo;
            obj.PgSize = "500";


            CateMas_Rowdata = [];
            $.ajax({
                url: "/User/Get_CategoryMas",
                async: false,
                type: "POST",
                data: { req: obj },
                success: function (data, textStatus, jqXHR) {
                    if (data.Message.indexOf('Something Went wrong') > -1) {
                        MoveToErrorPage(0);
                    }
                    if (data.Data.length > 0) {
                        CateMas_Rowdata = data.Data;
                        params.successCallback(data.Data, data.Data[0].iTotalRec);
                    }
                    else {
                        CateMas_Rowdata = [];
                        toastr.error(data.Message, { timeOut: 2500 });
                        params.successCallback([], 0);
                    }
                    CateMas_contentHeight();
                    setInterval(function () {
                        $(".ag-header-cell-text").addClass("grid_prewrap");
                    }, 30);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    params.successCallback([], 0);
                    CateMas_Rowdata = [];
                }
            });
        }
    };
    $(window).resize(function () {
        CateMas_contentHeight();
    });
    function CateMas_contentHeight() {
        var winH = $(window).height(),
            navbarHei = $(".order-title").height(),
            contentHei = winH - navbarHei - 300;
        $(".CateMas_gridview #Cart-Gride").css("height", contentHei);
    }
    function CateMas_AddNew() {
        CateMas_Clear()
        $(".CateMas_gridview").hide();
        $(".CateMas_AddEdit").show();
        $("#CateMas_btn_AddNew").hide();
        $("#CateMas_btn_Back").show();
        $("#CateMas_h2_titl").html("Add Category");
        $("#CateMas_hdn_Id").val("");
    }
    function CateMas_Back() {
        $(".CateMas_gridview").show();
        $(".CateMas_AddEdit").hide();
        $("#CateMas_btn_AddNew").show();
        $("#CateMas_btn_Back").hide();
        $("#CateMas_h2_titl").html("");
        $("#CateMas_hdn_Id").val("");
        CateMas_Clear();
        CateMas_GetSearch();
    }
    function CateMas_Clear() {
        $("#CateMas_txt_CategoryName").val("");
        $("#CateMas_ddl_OurColumn").val("");
        document.getElementById("CateMas_Status").checked = true;
        //if (CateMas_gridOptions.api != undefined) {
        //    $("#CateMas_txt_DisplayOrder").val(CateMas_gridOptions.api.getDisplayedRowCount() + 1);
        //}
    }
    var CateMas_Save = function () {debugger
        if ($("#CateMas_txt_CategoryName").val() == "") {
            toastr.error("Please Enter Category Name.");
            return;
        }
        if ($("#CateMas_ddl_OurColumn").val() == "") {
            toastr.error("Please Select Column Name.");
            return;
        }

        var obj = {};
        obj.Cat_Id = $("#CateMas_hdn_Id").val();
        obj.Column_Name = $("#CateMas_txt_CategoryName").val();
        obj.Col_Id = $("#CateMas_ddl_OurColumn").val();
        obj.Status = document.getElementById("CateMas_Status").checked;
        debugger
        $.ajax({
            url: '/User/AddUpdate_CategoryMas',
            type: "POST",
            data: { req: obj },
            success: function (data) {
                debugger
                if (data.Status == "1") {
                    toastr.success(data.Message);
                    CateMas_Back();
                }
                else {
                    if (data.Message.indexOf('Something Went wrong') > -1) {
                        MoveToErrorPage(0);
                    }
                    toastr.error(data.Message);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
            }
        });
    }

</script>

