@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #003d66;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #003d66;
        border-top: none;
    }

    .order-history-section, .order-title {
        float: none !important;
        width: 100%;
    }

    .title-sec, .chart-section, .service-panel, .sec-chart, .result-nav, .aggrid-section {
        float: none !important;
        width: 100%;
        position: relative;
    }

    .ag-paging-page-summary-panel {
        left: 10px;
        position: relative;
    }

    .ag-theme-balham .ag-cell {
        white-space: normal !important;
        line-height: inherit;
        overflow-y: auto;
    }

    .Yes {
        margin-bottom: 1px;
        color: white;
        background-color: #008000e6;
        padding: 2px 5px;
        border-radius: 16px;
        font-weight: bold;
    }

    .No {
        margin-bottom: 1px;
        color: white;
        background-color: #ff0000cf;
        padding: 2px 5px;
        border-radius: 16px;
        font-weight: bold;
    }
</style>

<div class="container-fluid order-history-section manage-user">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="order-title">
                <h2 id="h2_titl">Category</h2>
                @*<div class="main-header-page add-new-btn" style="float: right;" id="btn_AddNew">
                        <a onclick="AddNew();" href="javascript:void();">
                            <h1 style="color: green;">+ Add New</h1>
                        </a>
                    </div>
                    <div class="main-header-page add-new-btn" style="float: right;display:none;" id="btn_Back">
                        <a onclick="Back();" href="javascript:void();">
                            <h1 style="color: green;">Back</h1>
                        </a>
                    </div>*@
            </div>
        </div>
    </div>
    <div id="tab">
        <div class="tab">
            <button class="tablinks tab_Category_Master" onclick="openTab('Category_Master')">Category Master</button>
            <button class="tablinks tab_Category_Value" onclick="openTab('Category_Value')">Category Value</button>
        </div>
        <div id="tab_Category_Master" class="tabcontent tab_Category_Master" style="margin-bottom: -46px;"></div>
        <div id="tab_Category_Value" class="tabcontent tab_Category_Value" style="margin-bottom: -46px;"></div>

    </div>
</div>




@section scripts{
    <script>
        $(document).ready(function () {
            openTab("Category_Master");
        });
        function openTab(MenuName) {
            $('.loading-overlay-image-container').show();
            $('.loading-overlay').show();

            setTimeout(function () {
                $(".tab").show();
                $(".tablinks").removeClass("active");
                $(".tabcontent").removeClass("active");
                $(".tabcontent").hide();
                $(".tab_" + MenuName).addClass("active");
                $("#tab_" + MenuName).show();
                $(".tabcontent").html("");

                var url = "";
                if (MenuName == "Category_Master") {
                    url = "/User/Category_Master";
                }
                else if (MenuName == "Category_Value") {
                    url = "/User/Category_Value";
                }
                if (url != "") {
                    $.ajax
                        ({
                            url: url,
                            contentType: "application/html; charset=utf-8",
                            type: "GET",
                            cache: !0,
                            datatype: "html",
                            success: function (t) {
                                $("#tab_" + MenuName).html(t);
                            },
                            error: function () {

                            }
                        })
                }
                $('.loading-overlay-image-container').hide();
                $('.loading-overlay').hide();
            }, 50);
        }

    </script>
}
