<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 api-plr cateDetail apifilter">
    <div class="row m-0">
        <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 tabbox">
            <div class="tabboxdiv">
                <div class="row m-0">
                    <div class="col-sm-1 col-xs-12 api-plr">
                        <strong>Supplier</strong>
                    </div>
                    <div class="col-sm-10 col-sm-8 col-xs-10 custom-box-list api-plr">
                        <p class="divCheckedSupplierValue"></p>
                    </div>
                    <div class="col-sm-1 col-xs-2 api-plr p-0" style="text-align: center;">
                        <div class="list-icn">
                            <i style="cursor: pointer;" class="fa fa-refresh" aria-hidden="true" onclick="ResetSelectedAttr('.divCheckedSupplierValue',SupplierList)"></i>
                            <a href="javascript:void(0);" onclick="ModalShow('Supplier',SupplierList)"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 tabbox">
            <div class="tabboxdiv">
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Location</strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr">
                        <p class="divCheckedLocationValue"></p>
                    </div>
                    <div class="col-sm-1 col-xs-2 api-plr p-0" style="text-align: center; ">
                        <div class="list-icn">
                            <i style="cursor: pointer;" class="fa fa-refresh" aria-hidden="true" onclick="ResetSelectedAttr('.divCheckedLocationValue',LocationList)"></i>
                            <a href="javascript:void(0);" onclick="ModalShow('Location',LocationList)"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Shape</strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr">
                        <p class="divCheckedShapeValue"></p>
                    </div>
                    <div class="col-sm-1 col-xs-2 api-plr p-0" style="text-align: center; ">
                        <div class="list-icn">
                            <i style="cursor: pointer;" class="fa fa-refresh" aria-hidden="true" onclick="ResetSelectedAttr('.divCheckedShapeValue',ShapeList)"></i>
                            <a href="javascript:void(0);" onclick="ModalShow('Shape',ShapeList)"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Carat</strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr">
                        <p class="divCheckedCaratValue"></p>
                    </div>
                    <div class="col-sm-1 col-xs-2 api-plr p-0" style="text-align: center;">
                        <div class="reicon list-icn">
                            <i style="cursor: pointer;" class="fa fa-refresh" aria-hidden="true" onclick="ResetCheckCarat()"></i>
                            <a href="" data-toggle="modal" data-target="#CaratModal"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Color</strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr">
                        <p class="divCheckedColorValue"></p>
                    </div>
                    <div class="col-sm-1 col-xs-2 api-plr p-0" style="text-align: center;">
                        <div class="list-icn">
                            <i style="cursor: pointer;" class="fa fa-refresh" aria-hidden="true" onclick="ResetCheckColors();"></i>
                            @*<a href="javascript:void(0);" onclick="ModalShow('Color',ColorList)"><i class="fa fa-plus"></i></a>*@
                            <a href="" data-toggle="modal" data-target="#ColorModal"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Clarity</strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr">
                        <p class="divCheckedClarityValue"></p>
                    </div>
                    <div class="col-sm-1 col-xs-2 api-plr p-0" style="text-align: center;">
                        <div class="list-icn">
                            <i style="cursor: pointer;" class="fa fa-refresh" aria-hidden="true" onclick="ResetSelectedAttr('.divCheckedClarityValue',ClarityList)"></i>
                            <a href="javascript:void(0);" onclick="ModalShow('Clarity',ClarityList)"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Cut</strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr">
                        <p class="divCheckedCutValue"></p>
                    </div>
                    <div class="col-sm-1 col-xs-2 api-plr p-0" style="text-align: center;">
                        <div class="list-icn">
                            <i style="cursor: pointer;" class="fa fa-refresh" aria-hidden="true" onclick="ResetSelectedAttr('.divCheckedCutValue',CutList)"></i>
                            <a href="javascript:void(0);" onclick="ModalShow('Cut',CutList)"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Polish</strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr">
                        <p class="divCheckedPolValue"></p>
                    </div>
                    <div class="col-sm-1 col-xs-2 api-plr p-0" style="text-align: center;">
                        <div class="list-icn">
                            <i style="cursor: pointer;" class="fa fa-refresh" aria-hidden="true" onclick="ResetSelectedAttr('.divCheckedPolValue',PolishList)"></i>
                            <a href="javascript:void(0);" onclick="ModalShow('Polish',PolishList)"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Sym</strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr">
                        <p class="divCheckedSymValue"></p>
                    </div>
                    <div class="col-sm-1 col-xs-2 api-plr p-0" style="text-align: center;">
                        <div class="list-icn">
                            <i style="cursor: pointer;" class="fa fa-refresh" aria-hidden="true" onclick="ResetSelectedAttr('.divCheckedSymValue',SymList)"></i>
                            <a href="javascript:void(0);" onclick="ModalShow('Sym',SymList)"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Fls</strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr">
                        <p class="divCheckedFLsValue"></p>
                    </div>
                    <div class="col-sm-1 col-xs-2 api-plr p-0" style="text-align: center;">
                        <div class="list-icn">
                            <i style="cursor: pointer;" class="fa fa-refresh" aria-hidden="true" onclick="ResetSelectedAttr('.divCheckedFLsValue',FlsList)"></i>
                            <a href="javascript:void(0);" onclick="ModalShow('Fls',FlsList)"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Lab</strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr">
                        <p class="divCheckedLabValue"></p>
                    </div>
                    <div class="col-sm-1 col-xs-2 api-plr p-0" style="text-align: center;">
                        <div class="list-icn">
                            <i style="cursor: pointer;" class="fa fa-refresh" aria-hidden="true" onclick="ResetSelectedAttr('.divCheckedLabValue',LabList)"></i>
                            <a href="javascript:void(0);" onclick="ModalShow('Lab',LabList)"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 tabbox">
            <div class="tabboxdiv">
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Length</strong>
                    </div>
                    <div class="col-sm-4 col-xs-5 api-plr">
                        <input autocomplete="off" class="form-control form-control onuntouched onvalid onnot-empty ondirty onvalid-parse onvalid-maxlength" id="FromLength" maxlength="6" name="FromLength" onblur="LeaveTextBox('FROM','FromLength', 'ToLength');" onkeypress="return numvalid(event)" type="text">
                    </div>
                    <div class="col-sm-4 col-xs-5 api-plr">
                        <input autocomplete="off" class="form-control form-control onuntouched onvalid onnot-empty ondirty onvalid-parse onvalid-maxlength" id="ToLength" maxlength="6" name="ToLength" onblur="LeaveTextBox('TO','FromLength', 'ToLength');" onkeypress="return numvalid(event)" type="text">
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Width</strong>
                    </div>
                    <div class="col-sm-4 col-xs-5 api-plr">
                        <input autocomplete="off" class="form-control form-control onuntouched onvalid onnot-empty ondirty onvalid-parse onvalid-maxlength" id="FromWidth" maxlength="6" name="FromWidth" onblur="LeaveTextBox('FROM','FromWidth', 'ToWidth');" onkeypress="return numvalid(event)" type="text">
                    </div>
                    <div class="col-sm-4 col-xs-5 api-plr">
                        <input autocomplete="off" class="form-control form-control onuntouched onvalid onnot-empty ondirty onvalid-parse onvalid-maxlength" id="ToWidth" maxlength="6" name="ToWidth" onblur="LeaveTextBox('TO','FromWidth', 'ToWidth');" onkeypress="return numvalid(event)" type="text">
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Depth</strong>
                    </div>
                    <div class="col-sm-4 col-xs-5 api-plr">
                        <input autocomplete="off" class="form-control form-control onuntouched onvalid onnot-empty ondirty onvalid-parse onvalid-maxlength" id="FromDepth" maxlength="6" name="FromDepth" onblur="LeaveTextBox('FROM','FromDepth','ToDepth');" onkeypress="return numvalid(event)" type="text">
                    </div>
                    <div class="col-sm-4 col-xs-5 api-plr">
                        <input autocomplete="off" class="form-control form-control onuntouched onvalid onnot-empty ondirty onvalid-parse onvalid-maxlength" id="ToDepth" maxlength="6" name="ToDepth" onblur="LeaveTextBox('TO','FromDepth','ToDepth');" onkeypress="return numvalid(event)" type="text">
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Depth(%)</strong>
                    </div>
                    <div class="col-sm-4 col-xs-5 api-plr">
                        <input autocomplete="off" class="form-control form-control onuntouched onvalid onnot-empty ondirty onvalid-parse onvalid-maxlength" id="FromDepthPer" maxlength="6" name="FromDepthPer" onblur="LeaveTextBox('FROM','FromDepthPer','ToDepthPer');" onkeypress="return numvalid(event)" type="text">
                    </div>
                    <div class="col-sm-4 col-xs-5 api-plr">
                        <input autocomplete="off" class="form-control form-control onuntouched onvalid onnot-empty ondirty onvalid-parse onvalid-maxlength" id="ToDepthPer" maxlength="6" name="ToDepthPer" onblur="LeaveTextBox('TO','FromDepthPer','ToDepthPer');" onkeypress="return numvalid(event)" type="text">
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Table(%)</strong>
                    </div>
                    <div class="col-sm-4 col-xs-5 api-plr">
                        <input autocomplete="off" class="form-control form-control onuntouched onvalid onnot-empty ondirty onvalid-parse onvalid-maxlength" id="FromTablePer" maxlength="6" name="FromTablePer" onblur="LeaveTextBox('FROM','FromTablePer','ToTablePer');" onkeypress="return numvalid(event)" type="text">
                    </div>
                    <div class="col-sm-4 col-xs-5 api-plr">
                        <input autocomplete="off" class="form-control form-control onuntouched onvalid onnot-empty ondirty onvalid-parse onvalid-maxlength" id="ToTablePer" maxlength="6" name="ToTablePer" onblur="LeaveTextBox('TO','FromTablePer','ToTablePer');" onkeypress="return numvalid(event)" type="text">
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Cr Ang</strong>
                    </div>
                    <div class="col-sm-4 col-xs-5 api-plr">
                        <input autocomplete="off" class="form-control form-control onuntouched onvalid onnot-empty ondirty onvalid-parse onvalid-maxlength" id="FromCrAng" maxlength="6" name="FromCrAng" onblur="LeaveTextBox('FROM','FromCrAng','ToCrAng');" onkeypress="return numvalid(event)" type="text">
                    </div>
                    <div class="col-sm-4 col-xs-5 api-plr">
                        <input autocomplete="off" class="form-control form-control onuntouched onvalid onnot-empty ondirty onvalid-parse onvalid-maxlength" id="ToCrAng" maxlength="6" name="ToCrAng" onblur="LeaveTextBox('TO','FromCrAng','ToCrAng');" onkeypress="return numvalid(event)" type="text">
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Cr Ht</strong>
                    </div>
                    <div class="col-sm-4 col-xs-5 api-plr">
                        <input autocomplete="off" class="form-control form-control onuntouched onvalid onnot-empty ondirty onvalid-parse onvalid-maxlength" id="FromCrHt" maxlength="6" name="FromCrHt" onblur="LeaveTextBox('FROM','FromCrHt','ToCrHt');" onkeypress="return numvalid(event)" type="text">
                    </div>
                    <div class="col-sm-4 col-xs-5 api-plr">
                        <input autocomplete="off" class="form-control form-control onuntouched onvalid onnot-empty ondirty onvalid-parse onvalid-maxlength" id="ToCrHt" maxlength="6" name="ToCrHt" onblur="LeaveTextBox('TO','FromCrHt','ToCrHt');" onkeypress="return numvalid(event)" type="text">
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Pav Ang</strong>
                    </div>
                    <div class="col-sm-4 col-xs-5 api-plr">
                        <input autocomplete="off" class="form-control form-control onuntouched onvalid onnot-empty ondirty onvalid-parse onvalid-maxlength" id="FromPavAng" maxlength="6" name="FromPavAng" onblur="LeaveTextBox('FROM','FromPavAng','ToPavAng');" onkeypress="return numvalid(event)" type="text">
                    </div>
                    <div class="col-sm-4 col-xs-5 api-plr">
                        <input autocomplete="off" class="form-control form-control onuntouched onvalid onnot-empty ondirty onvalid-parse onvalid-maxlength" id="ToPavAng" maxlength="6" name="ToPavAng" onblur="LeaveTextBox('TO','FromPavAng','ToPavAng');" onkeypress="return numvalid(event)" type="text">
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Pav Ht</strong>
                    </div>
                    <div class="col-sm-4 col-xs-5 api-plr">
                        <input autocomplete="off" class="form-control form-control onuntouched onvalid onnot-empty ondirty onvalid-parse onvalid-maxlength" id="FromPavHt" maxlength="6" name="FromPavHt" onblur="LeaveTextBox('FROM','FromPavHt','ToPavHt');" onkeypress="return numvalid(event)" type="text">
                    </div>
                    <div class="col-sm-4 col-xs-5 api-plr">
                        <input autocomplete="off" class="form-control form-control onuntouched onvalid onnot-empty ondirty onvalid-parse onvalid-maxlength" id="ToPavHt" maxlength="6" name="ToPavHt" onblur="LeaveTextBox('TO','FromPavHt','ToPavHt');" onkeypress="return numvalid(event)" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 tabbox">
            <div class="tabboxdiv">
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Key to symbol</strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr">
                        <div class="sym-sec" id="sym-sec0">
                            <div class="sym-main-wrap" onclick="Key_to_symbolShow();">
                                <div class="sym-iner">
                                    <span id="spanselected">0 - Selected </span> / <span id="spanunselected">0 - Deselected</span>
                                </div>
                                <div class="sym-btn">
                                    <i class="fa fa-caret-down"></i>
                                </div>
                            </div>
                            <div class="carat-dropdown-main">
                                <div class="carat-dropdown-half-col src-shape-main-pcscroll ps-container ps-theme-default row m-0" id="searchkeytosymbol">
                                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 col-xs-2 api-plr p-0" style="text-align: center;">
                        <div class="list-icn">
                            <span class="res-btn" style="left: 6px;">
                                <a href="javascript:void(0);" onclick="resetKeytoSymbol()" data-toggle="tooltip" data-placement="bottom" title="Reset">
                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row m-0" style="margin-top: 8px !important;">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>BGM</strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr">
                        <p class="divCheckedBGMValue"></p>
                    </div>
                    <div class="col-sm-1 col-xs-2 api-plr p-0" style="text-align: center; ">
                        <div class="list-icn">
                            <i style="cursor: pointer;" class="fa fa-refresh" aria-hidden="true" onclick="ResetSelectedAttr('.divCheckedBGMValue',BGMList)"></i>
                            <a href="javascript:void(0);" onclick="ModalShow('BGM',BGMList)"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Crown Black</strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr">
                        <p class="divCheckedCrnBlackValue"></p>
                    </div>
                    <div class="col-sm-1 col-xs-2 api-plr p-0" style="text-align: center; ">
                        <div class="list-icn">
                            <i style="cursor: pointer;" class="fa fa-refresh" aria-hidden="true" onclick="ResetSelectedAttr('.divCheckedCrnBlackValue',CrownBlackList)"></i>
                            <a href="javascript:void(0);" onclick="ModalShow('CrownBlack',CrownBlackList)"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Table Black</strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr">
                        <p class="divCheckedTblBlackValue"></p>
                    </div>
                    <div class="col-sm-1 col-xs-2 api-plr p-0" style="text-align: center; ">
                        <div class="list-icn">
                            <i style="cursor: pointer;" class="fa fa-refresh" aria-hidden="true" onclick="ResetSelectedAttr('.divCheckedTblBlackValue',TableBlackList)"></i>
                            <a href="javascript:void(0);" onclick="ModalShow('TableBlack',TableBlackList)"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Crown White</strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr">
                        <p class="divCheckedCrnWhiteValue"></p>
                    </div>
                    <div class="col-sm-1 col-xs-2 api-plr p-0" style="text-align: center; ">
                        <div class="list-icn">
                            <i style="cursor: pointer;" class="fa fa-refresh" aria-hidden="true" onclick="ResetSelectedAttr('.divCheckedCrnWhiteValue',CrownWhiteList)"></i>
                            <a href="javascript:void(0);" onclick="ModalShow('CrownWhite',CrownWhiteList)"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Table White</strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr">
                        <p class="divCheckedTblWhiteValue"></p>
                    </div>
                    <div class="col-sm-1 col-xs-2 api-plr p-0" style="text-align: center; ">
                        <div class="list-icn">
                            <i style="cursor: pointer;" class="fa fa-refresh" aria-hidden="true" onclick="ResetSelectedAttr('.divCheckedTblWhiteValue',TableWhiteList)"></i>
                            <a href="javascript:void(0);" onclick="ModalShow('TableWhite',TableWhiteList)"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Goods Type</strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr">
                        <p class="divCheckedGoodsTypeValue"></p>
                    </div>
                    <div class="col-sm-1 col-xs-2 api-plr p-0" style="text-align: center; ">
                        <div class="list-icn">
                            <i style="cursor: pointer;" class="fa fa-refresh" aria-hidden="true" onclick="ResetSelectedAttr('.divCheckedGoodsTypeValue',GoodsTypeList)"></i>
                            <a href="javascript:void(0);" onclick="ModalShow('GoodsType',GoodsTypeList)"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row m-0" style="margin-top: 8px !important;">
                    <div class="col-sm-4 col-xs-12 api-plr">
                        <strong>Image</strong>
                    </div>
                    <div class="col-sm-2 col-xs-5 api-plr">
                        <label class="cust-chk-bx text-left api-check">
                            <input class="onpristine onuntouched onvalid onempty IgYes" id="Img" name="Img" type="radio" value="Yes">
                            <strong>YES</strong>
                            <span class="cust-chkmark"></span>
                        </label>
                    </div>
                    <div class="col-sm-2 col-xs-5 api-plr">
                        <label class="cust-chk-bx text-left api-check">
                            <input class="onpristine onuntouched onvalid onempty IgNo" id="Img" name="Img" type="radio" value="No">
                            <strong>NO</strong>
                            <span class="cust-chkmark"></span>
                        </label>
                    </div>
                    <div class="col-sm-2 col-xs-5 api-plr">
                        <label class="cust-chk-bx text-left api-check">
                            <input checked="checked" class="onpristine onuntouched onvalid onempty IgAll" id="Img" name="Img" type="radio" value="All">
                            <strong>ALL</strong>
                            <span class="cust-chkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="row m-0" style="margin-top: 8px !important;">
                    <div class="col-sm-4 col-xs-12 api-plr">
                        <strong>Video</strong>
                    </div>
                    <div class="col-sm-2 col-xs-5 api-plr">
                        <label class="cust-chk-bx text-left api-check">
                            <input class="onpristine onuntouched onvalid onempty VdYes" id="Vdo" name="Vdo" type="radio" value="Yes">
                            <strong>YES</strong>
                            <span class="cust-chkmark"></span>
                        </label>
                    </div>
                    <div class="col-sm-2 col-xs-5 api-plr">
                        <label class="cust-chk-bx text-left api-check">
                            <input class="onpristine onuntouched onvalid onempty VdNo" id="Vdo" name="Vdo" type="radio" value="No">
                            <strong>NO</strong>
                            <span class="cust-chkmark"></span>
                        </label>
                    </div>
                    <div class="col-sm-2 col-xs-5 api-plr">
                        <label class="cust-chk-bx text-left api-check">
                            <input checked="checked" class="onpristine onuntouched onvalid onempty VdAll" id="Vdo" name="Vdo" type="radio" value="All">
                            <strong>ALL</strong>
                            <span class="cust-chkmark"></span>
                        </label>
                    </div>
                </div>
                @*<div class="row m-0" style="margin-top: 6px !important;">
                        <div class="col-sm-3 col-xs-12 api-plr">
                            <strong>Price Method <span style="color:red;">*</span></strong>
                        </div>
                        <div class="col-sm-5 col-sm-5 col-xs-10 custom-box-list api-plr">
                            <select class="form-control select2" id="PricingMethod" name="PricingMethod" onchange="PricingMethodDDL();">
                                <option value="">Select Method</option>
                                <option value="Disc">Discount</option>
                                <option value="Value">Value</option>
                            </select>
                        </div>
                        <div class="col-sm-3 col-sm-3 col-xs-10 custom-box-list api-plr">
                            <select class="form-control select2" id="PricingSign" name="PricingSign">
                                <option value="=">=</option>
                                <option value="+">+</option>
                                <option value="-">-</option>
                            </select>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-sm-3 col-xs-12 api-plr">
                            <strong>Percentage <span style="color:red;">*</span></strong>
                        </div>
                        <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr row">
                            <div class="col-md-3 api-plr txtDisc"><input type="text" id="txtDisc1" name="txtDisc1" onkeypress="return DisValValid('Disc', event)" onkeyup="LenCheckr('Disc')" class="form-control" autocomplete="off"></div>
                            <div class="col-md-3 api-plr txtValue"><input type="text" id="txtValue1" name="txtValue1" onkeypress="return DisValValid('Value', event)" onkeyup="LenCheckr('Value')" class="form-control" autocomplete="off"></div>
                            <div class="col-md-3 api-plr txtValue"><input type="text" id="txtValue2" name="txtValue2" onkeypress="return DisValValid('Value', event)" onkeyup="LenCheckr('Value')" class="form-control" autocomplete="off"></div>
                            <div class="col-md-3 api-plr txtValue"><input type="text" id="txtValue3" name="txtValue3" onkeypress="return DisValValid('Value', event)" onkeyup="LenCheckr('Value')" class="form-control" autocomplete="off"></div>
                            <div class="col-md-3 api-plr txtValue"><input type="text" id="txtValue4" name="txtValue4" onkeypress="return DisValValid('Value', event)" onkeyup="LenCheckr('Value')" class="form-control" autocomplete="off"></div>
                            <label style="font-size: 12px;color: red;font-weight: 600;display:none;" id="lblPMErr"></label>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 tabbox">
            <strong style="border-bottom: dotted 1px #003d66; color: #003d66;">CUSTOMER COST DISC</strong>
            <div class="tabboxdiv">
                <strong style="margin-left: 5px; border-bottom: dotted 1px #023059;">COMMON DISC</strong>
                <div class="row m-0" style="margin-top: 6px !important;">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Price Method : <span style="color:red;">*</span></strong>
                    </div>
                    <div class="col-sm-5 col-sm-5 col-xs-10 custom-box-list api-plr">
                        <select class="form-control select2" id="PricingMethod_1" name="PricingMethod_1" onchange="PricingMethodDDL('1');">
                            <option value="">Select Method</option>
                            <option value="Disc">Discount</option>
                            <option value="Value">Value</option>
                        </select>
                    </div>
                    <div class="col-sm-3 col-sm-3 col-xs-10 custom-box-list api-plr">
                        <select class="form-control select2" id="PricingSign_1" name="PricingSign_1">
                            <option value="=">=</option>
                            <option value="+">+</option>
                            <option value="-">-</option>
                        </select>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Percentage : <span style="color:red;">*</span></strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr row">
                        <div class="col-md-2 api-plr txtDisc_1" style="margin-right: 12px;"><input onchange="checkValue(this, '', '')" type="text" id="txtDisc_1_1" class="form-control dis_val val-txtbx" autocomplete="off"></div>
                        <div class="col-md-2 api-plr txtValue_1" style="margin-right: 12px;"><input onchange="checkValue(this, '1', '1')" type="text" id="txtValue_1_1" class="form-control dis_val val-txtbx" autocomplete="off"></div>
                        <div class="col-md-2 api-plr txtValue_1" style="margin-right: 12px;"><input onchange="checkValue(this, '1', '2')" type="text" id="txtValue_1_2" class="form-control dis_val val-txtbx" autocomplete="off"></div>
                        <div class="col-md-2 api-plr txtValue_1" style="margin-right: 12px;"><input onchange="checkValue(this, '1', '3')" type="text" id="txtValue_1_3" class="form-control dis_val val-txtbx" autocomplete="off"></div>
                        <div class="col-md-2 api-plr txtValue_1" style="margin-right: 12px;"><input onchange="checkValue(this, '1', '4')" type="text" id="txtValue_1_4" class="form-control dis_val val-txtbx" autocomplete="off"></div>
                        <div class="col-md-2 api-plr txtValue_1" style="margin-right: 12px;"><input onchange="checkValue(this, '1', '5')" type="text" id="txtValue_1_5" class="form-control dis_val val-txtbx" autocomplete="off"></div>
                        <div class="col-md-12 api-plr">
                            <label style="font-size: 12px;color: red;font-weight: 600;display:none;" id="lblPMErr_1"></label>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong style="border-bottom: dotted 1px #023059;">SPECIAL DISC</strong>
                    </div>
                    <div class="col-sm-8 col-xs-12 api-plr">
                        <label for="Chk_Speci_Additional_1" style="color: #003d66; font-size: 13px; font-weight: bold; float: right; margin-top: -3px; margin-left: 3px; "> Additional</label>
                        <input type="checkbox" id="Chk_Speci_Additional_1" name="Chk_Speci_Additional_1" style="float: right;">
                    </div>
                </div>
                <div class="row m-0" style="margin-top: 6px !important;">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Date :</strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr">
                        <input type="text" name="From" id="txtFromDate" value="" class="offer-input offer-input1" />
                        <input type="text" name="To" id="txtToDate" value="" class="offer-input offer-input1" />
                    </div>

                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Price Method :</strong>
                    </div>
                    <div class="col-sm-5 col-sm-5 col-xs-10 custom-box-list api-plr">
                        <select class="form-control select2" id="PricingMethod_2" name="PricingMethod_2" onchange="PricingMethodDDL('2');">
                            <option value="">Select Method</option>
                            <option value="Disc">Discount</option>
                            <option value="Value">Value</option>
                        </select>
                    </div>
                    <div class="col-sm-3 col-sm-3 col-xs-10 custom-box-list api-plr">
                        <select class="form-control select2" id="PricingSign_2" name="PricingSign_2">
                            <option value="=">=</option>
                            <option value="+">+</option>
                            <option value="-">-</option>
                        </select>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-3 col-xs-12 api-plr">
                        <strong>Percentage :</strong>
                    </div>
                    <div class="col-sm-8 col-sm-8 col-xs-10 custom-box-list api-plr row">
                        <div class="col-md-2 api-plr txtDisc_2" style="margin-right: 12px;"><input onchange="checkValue(this, '', '')" type="text" id="txtDisc_2_1" class="form-control dis_val val-txtbx" autocomplete="off"></div>
                        <div class="col-md-2 api-plr txtValue_2" style="margin-right: 12px;"><input onchange="checkValue(this, '2', '1')" type="text" id="txtValue_2_1" class="form-control dis_val val-txtbx" autocomplete="off"></div>
                        <div class="col-md-2 api-plr txtValue_2" style="margin-right: 12px;"><input onchange="checkValue(this, '2', '2')" type="text" id="txtValue_2_2" class="form-control dis_val val-txtbx" autocomplete="off"></div>
                        <div class="col-md-2 api-plr txtValue_2" style="margin-right: 12px;"><input onchange="checkValue(this, '2', '3')" type="text" id="txtValue_2_3" class="form-control dis_val val-txtbx" autocomplete="off"></div>
                        <div class="col-md-2 api-plr txtValue_2" style="margin-right: 12px;"><input onchange="checkValue(this, '2', '4')" type="text" id="txtValue_2_4" class="form-control dis_val val-txtbx" autocomplete="off"></div>
                        <div class="col-md-2 api-plr txtValue_2" style="margin-right: 12px;"><input onchange="checkValue(this, '2', '5')" type="text" id="txtValue_2_5" class="form-control dis_val val-txtbx" autocomplete="off"></div>
                        <div class="col-md-12 api-plr">
                            <label style="font-size: 12px;color: red;font-weight: 600;display:none;" id="lblPMErr_2"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <ul class="offer-inbtn pull-right mt-3" style="margin-bottom: 15px; margin-top: 25px !important;">
            <li class="mr-2">
                <button onclick="AddNewRow();" type="button" id="btn_Add_in_Supplier" name="btn_Add_in_Supplier" class="offer-btn"><i class="fa fa-plus"></i>Add Row</button>
            </li>
            <li class="mr-2 UpdateCancelRow" style="display:none;">
                <button onclick="UpdateCancelRow();" type="button" id="btn_Cancel_in_Supplier" name="btn_Cancel_in_Supplier" class="offer-btn"><i class="fa fa-close"></i>Cancel</button>
            </li>
        </ul>
    </div>

    <div style="margin-top: 40px;">
        <div class="row">
            <div class="order-title">
                <h2 style="color: #003d66;">Pricing Filter</h2>
            </div>
        </div>
        <label style="color: red;margin-left: 35px;" id="lblCustNoFound">No Filter(s) Found</label>
        <div style="width: 100%; overflow-x: auto; display: none;" id="tblFilters">
            <table class="table table-bordered">
                <thead style="background-color: #003d66;color: white;">
                    <tr>
                        <th rowspan="3" style="vertical-align: middle;">Sr.</th>
                        <th rowspan="3" style="vertical-align: middle;">Supplier</th>
                        <th rowspan="3" style="vertical-align: middle;">Location</th>
                        <th rowspan="3" style="vertical-align: middle;">Shape</th>
                        <th rowspan="3" style="vertical-align: middle;">Carat</th>
                        <th rowspan="3" style="vertical-align: middle;">Color</th>
                        <th rowspan="3" style="vertical-align: middle;">Clarity</th>
                        <th rowspan="3" style="vertical-align: middle;">Cut</th>
                        <th rowspan="3" style="vertical-align: middle;">Polish</th>
                        <th rowspan="3" style="vertical-align: middle;">Sym</th>
                        <th rowspan="3" style="vertical-align: middle;">Fls</th>
                        <th rowspan="3" style="vertical-align: middle;">Lab</th>
                        <th rowspan="3" style="vertical-align: middle;">From Length</th>
                        <th rowspan="3" style="vertical-align: middle;">To Length</th>
                        <th rowspan="3" style="vertical-align: middle;">From Width</th>
                        <th rowspan="3" style="vertical-align: middle;">To Width</th>
                        <th rowspan="3" style="vertical-align: middle;">From Depth</th>
                        <th rowspan="3" style="vertical-align: middle;">To Depth</th>
                        <th rowspan="3" style="vertical-align: middle;">From Depth(%)</th>
                        <th rowspan="3" style="vertical-align: middle;">To Depth(%)</th>
                        <th rowspan="3" style="vertical-align: middle;">From Table(%)</th>
                        <th rowspan="3" style="vertical-align: middle;">To Table(%)</th>
                        <th rowspan="3" style="vertical-align: middle;">From Cr Ang</th>
                        <th rowspan="3" style="vertical-align: middle;">To Cr Ang</th>
                        <th rowspan="3" style="vertical-align: middle;">From Cr Ht</th>
                        <th rowspan="3" style="vertical-align: middle;">To Cr Ht</th>
                        <th rowspan="3" style="vertical-align: middle;">From Pav Ang</th>
                        <th rowspan="3" style="vertical-align: middle;">To Pav Ang</th>
                        <th rowspan="3" style="vertical-align: middle;">From Pav Ht</th>
                        <th rowspan="3" style="vertical-align: middle;">To Pav Ht</th>
                        <th rowspan="3" style="vertical-align: middle;">Key to symbol</th>
                        <th rowspan="3" style="vertical-align: middle;">BGM</th>
                        <th rowspan="3" style="vertical-align: middle;">Crown Black</th>
                        <th rowspan="3" style="vertical-align: middle;">Table Black</th>
                        <th rowspan="3" style="vertical-align: middle;">Crown White</th>
                        <th rowspan="3" style="vertical-align: middle;">Table White</th>
                        <th rowspan="3" style="vertical-align: middle;">Goods Type</th>
                        <th rowspan="3" style="vertical-align: middle;">Image</th>
                        <th rowspan="3" style="vertical-align: middle;">Video</th>
                        <th colspan="9" style="vertical-align: middle;">CUSTOMER COST DISC</th>
                        <th rowspan="3" style="vertical-align: middle;">Action</th>
                    </tr>
                    <tr>
                        <th colspan="3" style="vertical-align: middle;">COMMON DISC</th>
                        <th colspan="6" style="vertical-align: middle;">SPECIAL DISC</th>
                    </tr>
                    <tr>
                        <th rowspan="1" style="vertical-align: middle;">Price Method</th>
                        <th rowspan="1" style="vertical-align: middle;">Sign</th>
                        <th rowspan="1" style="vertical-align: middle;">Percentage</th>
                        <th rowspan="1" style="vertical-align: middle;">Additional</th>
                        <th rowspan="1" style="vertical-align: middle;">From Date</th>
                        <th rowspan="1" style="vertical-align: middle;">To Date</th>
                        <th rowspan="1" style="vertical-align: middle;">Price Method</th>
                        <th rowspan="1" style="vertical-align: middle;">Sign</th>
                        <th rowspan="1" style="vertical-align: middle;">Percentage</th>
                    </tr>
                </thead>
                <tbody style="color: #003d66;" id="tblBodyFilters">
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <ul class="offer-inbtn pull-right mt-3" style="margin-bottom: 15px; margin-top: 25px !important;">
            <li class="mr-2">
                <button onclick="SaveData();" type="button" class="offer-btn"><i class="fa fa-save"></i>Save</button>
            </li>
        </ul>
    </div>
</div>
@section scripts{
    <script src="~/Content/js/wow.min.js"></script>
    <script src="~/Content/js/moment.min.js"></script>
    <script src="~/Content/js/daterangepicker.min.js"></script>
    <script src="~/Content/js/ag-grid-enterprise.min.js"></script>
    <script src="~/Content/js/Pages/CustomerDisc.js"></script>
    @*<script src="~/Content/js/Pages/StockDiscMgt.js"></script>*@
}

