<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 api-plr cateDetail apifilter" style="display:none;">
    <div class="mt-0">
        <div class="mb-3 mt-2 pull-right">
            <button type="button" onclick="RefNo_AddNewRow();" class="offer-btn"><i class="fa fa-plus"></i>Add Row</button>
        </div>
        <div style="width:100%;overflow-x:auto">
            <table id="tbl" class="table table-bordered">
                <thead style="background-color: #003d66;color: white;">
                    <tr>
                        <th width="3%">Sr.</th>
                        <th width="25%">Shape</th>
                        <th width="20%">Pointer</th>
                        <th width="20%">Prefix <span style="color:red;">*</span><span style="font-size: 10px;">(Ex. IND-, HK-, KUW-)</span></th>
                        <th width="3%">Delete</th>
                    </tr>
                </thead>
                <tbody style="color: #003d66;" id="tblbody" class="fl-sec-form">
                    @*<tr>
                            <td class="tblbody_sr">1</td>
                            <td>
                                <select class="form-control Supplier">
                                    <option>Select</option>
                                </select>
                            </td>
                            <td><input type="text" class="form-control SuppCategory" maxlength="200" autocomplete="off"></td>
                            <td><input type="text" class="form-control OurCategory" maxlength="200" autocomplete="off"></td>
                            <td><input type="text" class="form-control SuppCategorySysnonym" maxlength="400" autocomplete="off"></td>
                            <td><input type="checkbox" class="Status" checked></td>
                            <td style="width: 50px"><i style="cursor:pointer;" class="error RemoveCate"><img src="/Content/images/trash-delete-icon.png" style="width: 20px;" /></i></td>
                        </tr>*@
                </tbody>
            </table>
        </div>

        <div class="mb-3 mt-2 pull-right DeleteAll" style="margin-left: 6px;">
            <button type="button" onclick="DeleteAll();" class="offer-btn"><i class="fa fa-trash"></i>Delete All</button>
        </div>

        <div class="mb-3 mt-2 pull-right">
            <button type="button" onclick="Save();" class="offer-btn"><i class="fa fa-save"></i>Save</button>
        </div>
    </div>
</div>
