@{
    ViewBag.Title = "Supplier Price List";
    ViewBag.ClassName = "search-contnt";
}
<style>
    .ag-paging-page-summary-panel {
        left: 10px;
        position: relative;
    }

    .ag-theme-balham .ag-cell {
        white-space: normal !important;
        line-height: inherit;
        overflow-y: auto;
    }

    .Yes {
        margin-bottom: 1px;
        color: white;
        background-color: #008000e6;
        padding: 2px 5px;
        border-radius: 16px;
        font-weight: bold;
    }

    .No {
        margin-bottom: 1px;
        color: white;
        background-color: #ff0000cf;
        padding: 2px 5px;
        border-radius: 16px;
        font-weight: bold;
    }

    .grid_prewrap {
        white-space: pre-wrap !important;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #003d66;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #003d66;
        border-top: none;
    }

    .ui-menu {
        width: 434.328px !important;
    }

        .ui-menu .ui-menu-item {
            width: 415.328px !important;
        }

    .autocomplete {
        position: relative;
        display: inline-block;
    }

    .g-head-t {
        font-size: 12px;
        padding: 0 12px;
        color: grey;
    }

    .g-amt-t {
        font-size: 15px;
        padding: 0 12px;
        color: #003d66;
        font-weight: 700;
    }

    .spn-Yes1 {
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        padding: 0px 5px 0px 5px;
        font-size: 10px;
        font-weight: 600;
        background: #28a745;
        color: white;
    }

    .spn-No1 {
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        padding: 0px 5px 0px 5px;
        font-size: 10px;
        font-weight: 600;
        background: #ef0808;
        color: white;
    }

    .disabled {
        cursor: not-allowed;
    }

    .btn-spn-opt:hover {
        background-color: #80808017;
        border: 1px solid #003d66;
    }

    .btn-spn-opt {
        border: 1px solid #e5e5e5;
        border-radius: 28px;
        padding: 5px 15px;
        float: left;
        margin-bottom: 5px;
        margin-right: 5px;
        transition-duration: 0.3s;
        -webkit-transition: 0.3s;
        cursor: pointer;
        font-size: 11px;
        white-space: nowrap;
        font-weight: 600;
        background: #fff;
        color: #003d66;
        position: relative;
        z-index: 0;
        overflow: hidden;
        margin-top: 5px;
    }

    .btn-spn-opt-active {
        color: #fff !important;
        background-color: #003d66 !important;
    }

    .pwd_field {
        -webkit-text-security: disc;
    }

    #txtCompanyName_suggestion {
        font-size: 11.5px;
    }

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
        display: none !important;
    }

    .img-block {
        display: block;
    }

    .img-none {
        display: none;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #CaratModal .form-control {
        border: 1px solid black;
    }

    .api-filter-popup ul.color-whit-box li {
        display: inline-block;
        margin: 4px 4px;
    }

    ul.color-whit-box li.active {
        background: rgba(0, 61, 102,1);
        color: #fff;
    }

    ul.color-whit-box li {
        padding: 3px 13px;
        -webkit-box-shadow: 0 0 2px rgba(0, 61, 102,0.3);
        -moz-box-shadow: 0 0 2px rgba(0, 61, 102,0.3);
        box-shadow: 0 0 2px rgba(0, 61, 102,0.3);
        margin: 2px 4px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        cursor: pointer;
        font-size: 14px;
        color: #003d66;
        font-weight: 500;
        background: #fff;
        white-space: nowrap;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .custom-box-list p {
        word-break: break-all;
        border: 1px solid #ced4da;
        padding: 0px 4px;
        font-weight: 400;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        font-size: 13px;
        height: 35px;
        line-height: normal;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        overflow: auto;
        margin: 0;
    }

    .Fi-Criteria {
        font-size: 13px;
    }

    .tabboxdiv > .row {
        border-bottom: none;
    }

    .allcrt {
        margin: 0px 4px 4px 0px;
        color: #003d66;
        font-weight: normal !important;
        padding: 5px 12px;
    }

    .fncy-rst {
        right: -6px;
        top: 13px;
        position: absolute;
        /*font-size: 14px;*/
        cursor: pointer;
    }

    .sym-sec .carat-dropdown-main ul li {
        display: inline-block;
        margin: -3px 0px 0px 0px;
        width: 23%;
    }

    .g-head-t {
        font-size: 12px;
        padding: 0 12px;
        color: grey;
    }

    .g-amt-t {
        font-size: 12px;
        padding: 0 12px;
        color: #003d66;
    }

    .f_clr_clk {
        margin-top: -11px;
        z-index: 9999;
        width: 109px;
    }
    .filter_tr_active {
        background-color: #007bff1a;
    }
    .val-txtbx {
        padding: 3.5px;
        font-size: 13px;
        width: 110%;
    }
</style>
<link href="~/Content/css/daterangepicker.css" rel="stylesheet" />

<div class="container-fluid order-history-section manage-user">
    <input type="hidden" id="hdnDelUserId" value="" />
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="order-title">
                <h2 id="h2_titl">Supplier Price List</h2>
                @*<div class="main-header-page add-new-btn" style="float: right;" id="btn_AddNew">
                        <a onclick="AddNew();" href="javascript:void();">
                            <h1 style="color: green;">+ Add New</h1>
                        </a>
                    </div>
                    <div class="main-header-page add-new-btn" style="float: right;display:none;" id="btn_Back">
                        <a onclick="Back();" href="javascript:void();">
                            <h1 style="color: green;">Back</h1>
                        </a>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="row AddEdit">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 api-plr">
            <div class="row col-12 myoffer-form  mt-0">
                <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
                    <div class="offer-label">Supplier Name:<span class="reqvalidation"> * </span></div>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-4">
                    <div class=" dash-newarrival-select-main text-left w-100 ml-0 cust-main-select">
                        <select class="form-control MinWith input-sm" id="ddl_SupplierName" tabindex="1" onchange="GetSearch();">
                        </select>
                    </div>
                </div>
                @*<div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
                        <div class=" dash-newarrival-select-main text-left w-100 ml-0 cust-main-select">
                            <button type="button" onclick="AddCateMas();" class="offer-btn"><i class="fa fa-plus" style="margin-right: 0px;"></i></button>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>

    <div class="tab" style="display:none;">
        <button class="tablinks RefNoPrefix" onclick="openTab('RefNoPrefix')">Ref No Prefix</button>
        <button class="tablinks SupplierDisc" onclick="openTab('SupplierDisc')">Supplier Disc</button>
    </div>

    <div id="RefNoPrefix" class="tabcontent RefNoPrefix" style="padding-bottom: 50px;">
        @{
            Html.RenderAction("RefNoPrefix", "User");
        }
    </div>
    <div id="SupplierDisc" class="tabcontent SupplierDisc" style="padding-bottom: 65px;">
        @{
            Html.RenderAction("SupplierDisc", "User");
        }
    </div>
</div>

<div class="modal fade social-model" id="DeleteAll">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Ref No Prefix</h4>
                <button type="button" class="close" onclick="ClearRemoveModel()">&times;</button>
            </div>
            <div class="modal-body">
                <li></li>
            </div>

            <div class="modal-footer">
                <button id="btnSendMail" class="btn btn-primary" type="button" onclick="Delete()">Delete</button>
                <button id="btnremove" class="btn btn-primary" type="button" onclick="ClearRemoveModel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade social-model" id="ErrorModel">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Validation</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div id="divError">

                </div>

            </div>
            <div class="modal-footer">
                <button id="btnremove" class="btn btn-primary" type="button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal social-model fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog search-width api-filter-popup modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ng-binding" id="exampleModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <div class="popup-field">
                        <div id="divModal" class="ng-hide">

                        </div>
                    </div>
                </div>
            </div>
            <div id="modal-footer" class="modal-footer search-model-footer">
                @*<button type="button" class="btn btn-primary" ng-click="ResetSelectedAttr(ParameterLabel);">Reset</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>*@
            </div>
        </div>
    </div>
</div>
<div class="modal social-model fade" id="CaratModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg cst-inpt-mn" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Carat</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="margin-bottom: -18px;">
                <div class="col-xl-12 col-lg-4 col-md-4 col-sm-6 mrg1">
                    <div style="margin-left: 8px;">
                        <div class="row form-group">
                            <div class="col-md-3">
                                <span>From</span>
                                <input class="form-control" type="text" id="txtfromcarat" onblur="setFromCarat()" onkeypress="return isNumberKey_ISD(event)" autocomplete="off">
                            </div>
                            <div class="col-md-3">
                                <span>To</span>
                                <input class="form-control" type="text" id="txttocarat" onblur="setToCarat()" onkeypress="return isNumberKey_ISD(event)" autocomplete="off">
                            </div>
                            <div style="padding-top: 24px;font-size: 22px;">
                                <a href="javascript:void(0);" onclick="NewSizeGroup()"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                            </div>
                            <div style="padding-top: 24px;padding-left: 17px;font-size: 22px;">
                                <ul id="popupul" class="color-whit-box">
                                    <li id="li_Carat_0" onclick="ItemClicked('Carat','ALL','0', this);" class="">ALL</li>
                                </ul>
                            </div>
                        </div>

                        <div id="searchcaratspecific" class="li-content-width two fadeInLeft animated dv_Crt_Wgt1" data-wow-delay="0.1s" style="width: 104%;">
                            <p class="divCheckedPointerValue"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer search-model-footer">
                <button type="button" class="btn btn-primary" onclick="ResetCheckCarat()">Reset</button>
                <button type="button" class="btn btn-secondary" @*onclick="SetFinalCarat()"*@ data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>
<div class="modal social-model fade" id="ColorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog search-width api-filter-popup modal-lg" role="document">
        <div class="modal-content" onclick="color_ddl_close();">
            <div class="modal-header">
                <h4 class="modal-title ng-binding">Color</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="margin-bottom: -18px;">
                <div class="col-xl-12 col-lg-4 col-md-4 col-sm-6 mrg1">
                    <div style="margin-left: 8px;">
                        <div class="row form-group">
                            <div style="font-size: 22px;" class="col-md-12">
                                <div id="searchcaratspecific" class="li-content-width two" data-wow-delay="0.1s" style="width: 104%;">
                                    <span class="btn-spn-opt btn-spn-opt-active" onclick="ActiveOrNot('Regular')" id="Regular">Regular</span>
                                    <span class="btn-spn-opt" onclick="ActiveOrNot('Fancy');" id="Fancy">Fancy</span>
                                </div>
                            </div>
                            <div id="div_Regular" style="margin-top: 15px;">
                                <label class="row" style="margin-left: 19px;margin-top: -13px;margin-bottom: 12px;cursor: pointer;">
                                    <input type="checkbox" id="chk_Regular_All" name="chk_Regular_All">
                                    <span for="chk_Regular_All" style="font-size: 12px;margin-left: 3px;">Only All Regular Color</span>
                                </label>
                                <div class="col-12">
                                    <div class="popup-field">
                                        <div id="divModal" class="ng-show">
                                            <ul id="divCheckedColorValue1" class="color-whit-box">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="div_Fancy" class="row col-md-12" style="display:none;margin-top: 15px;">
                                <label class="row" style="margin-left: 19px;margin-top: -13px;margin-bottom: 12px;cursor: pointer;">
                                    <input type="checkbox" id="chk_Fancy_All" name="chk_Fancy_All">
                                    <span for="chk_Fancy_All" style="font-size: 12px;margin-left: 3px;">Only All Fancy Color</span>
                                </label>
                                <div class="row col-md-12">
                                    <div class="col-md-3">
                                        <p class="p_f_clr" style="padding-left: 12px;font-size: 11px;color: #003d66;font-weight: bold;margin-bottom: -3px;margin-top: -8px;">INTENSITY</p>
                                        <div class="sym" id="div_INTENSITY">
                                            <div class="sym-sec" id="sym-sec1">
                                                <div class="sym-main-wrap" onclick="INTENSITYShow();">
                                                    <div class="sym-iner">
                                                        <span id="c1_spanselected">0 - Selected</span>
                                                    </div>
                                                    <div class="sym-btn">
                                                        <i class="fa fa-caret-down"></i>
                                                    </div>
                                                </div>
                                                <div class="carat-dropdown-main" style="width: 105%;display:none;">
                                                    <div class="carat-dropdown-half-col src-shape-main-pcscroll ps-container ps-theme-default row m-0" id="ddl_INTENSITY">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="fncy-rst"><a href="javascript:void(0);" onclick="resetINTENSITY()" data-toggle="tooltip" data-placement="bottom" title="Reset"><i class="fa fa-refresh" aria-hidden="true"></i></a></span>
                                    </div>
                                    <div class="col-md-3" style="margin-left: 20px;">
                                        <p class="p_f_clr" style="padding-left: 12px;font-size: 11px;color: #003d66;font-weight: bold;margin-bottom: -3px;margin-top: -8px;">OVERTONE</p>
                                        <div class="sym" id="div_OVERTONE">
                                            <div class="sym-sec" id="sym-sec2">
                                                <div class="sym-main-wrap" onclick="OVERTONEShow();">
                                                    <div class="sym-iner">
                                                        <span id="c2_spanselected">0 - Selected</span>
                                                    </div>
                                                    <div class="sym-btn">
                                                        <i class="fa fa-caret-down"></i>
                                                    </div>
                                                </div>
                                                <div class="carat-dropdown-main" style="width: 105%;display:none;">
                                                    <div class="carat-dropdown-half-col src-shape-main-pcscroll ps-container ps-theme-default row m-0" id="ddl_OVERTONE">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="fncy-rst"><a href="javascript:void(0);" onclick="resetOVERTONE()" data-toggle="tooltip" data-placement="bottom" title="Reset"><i class="fa fa-refresh" aria-hidden="true"></i></a></span>
                                    </div>
                                    <div class="col-md-3" style="margin-left: 20px;">
                                        <p class="p_f_clr" style="padding-left: 12px;font-size: 11px;color: #003d66;font-weight: bold;margin-bottom: -3px;margin-top: -8px;">FANCY COLOR</p>
                                        <div class="sym" id="div_FANCY_COLOR">
                                            <div class="sym-sec" id="sym-sec3">
                                                <div class="sym-main-wrap" onclick="FANCY_COLORShow();">
                                                    <div class="sym-iner">
                                                        <span id="c3_spanselected">0 - Selected</span>
                                                    </div>
                                                    <div class="sym-btn">
                                                        <i class="fa fa-caret-down"></i>
                                                    </div>
                                                </div>
                                                <div class="carat-dropdown-main" style="width: 105%;display:none;">
                                                    <div class="carat-dropdown-half-col src-shape-main-pcscroll ps-container ps-theme-default row m-0" id="ddl_FANCY_COLOR">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="fncy-rst"><a href="javascript:void(0);" onclick="resetFANCY_COLOR()" data-toggle="tooltip" data-placement="bottom" title="Reset"><i class="fa fa-refresh" aria-hidden="true"></i></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer search-model-footer">
                <button type="button" class="btn btn-primary" onclick="ResetCheckColors()">Reset</button>
                <button type="button" class="btn btn-secondary" onclick="SetFinalColors()" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/js/wow.min.js"></script>
    <script src="~/Content/js/moment.min.js"></script>
    <script src="~/Content/js/daterangepicker.min.js"></script>
    <script src="~/Content/js/ag-grid-enterprise.min.js"></script>

    <script src="~/Content/js/Pages/SupplierPriceList.js"></script>
    <script src="~/Content/js/Pages/RefNoPrefix.js"></script>
    <script src="~/Content/js/Pages/SupplierDisc.js"></script>
}