@{
    ViewBag.Title = "Column Setting From Supplier's Web API & FTP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" id="hdn_Id" value="" />

<div class="container-fluid order-history-section manage-user">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="order-title">
                <h2>Column Setting From Supplier's Web API & FTP</h2>
            </div>
        </div>
    </div>
    <div class="order-history-data admin muser gridview apicol-head">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="col-xl-4 col-lg-6 col-md-7 col-sm-6 col-12 float-left">
                    <div class="order-company-name common-order">
                        <div class="offer-label">Supplier Name: <span style="color:red;">*</span></div>
                        <select class="form-control select2" id="DdlSupplierName" name="DdlSupplierName" onchange="Get_SupplierColumnSetting_FromAPI();">
                        </select>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-12 float-left">
                    <ul class="offer-inbtn">
                        <li class="mr-2">
                            <button onclick="SaveData();" style="display:none;" class="save offer-btn" id="Save_btn"><i class="fa fa-save" aria-hidden="true"></i>&nbsp;Save</button>
                        </li>
                        <li class="mr-2" style="display:none;" id="Delete_btn">
                            <button onclick="Delete();"  class="delete offer-btn"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="display: none;" id="TB_ColSetting">
        <div class="col-12">
            <div class="myoffer-form full-acform mt-0">
                <div class="row">
                    <div class="col-xl-8 offset-2 col-lg-8 col-md-8 col-sm-8 table-responsive" style="text-align: center;">
                        <table id="mytable" class="table table-hover table-bordered" style="font-size: 14px;height: 345px; display: inline-block;">
                            <thead style="background-color: #003d66;color: white;">
                                <tr>
                                    <th style="width: 3%;">Sr.</th>
                                    <th style="width: 40%;">Our Column</th>
                                    <th style="width: 60%;">Supplier Column</th>
                                </tr>
                            </thead>
                            <tbody style="color: #003d66;" id="myTableBody" class="ui-sortable">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade social-model" id="DeleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
                <button type="button" class="close" onclick="ClearRemoveModel()">&times;</button>
            </div>
            <div class="modal-body">
                <li></li>
            </div>

            <div class="modal-footer">
                <button id="btnSendMail" class="btn btn-primary" type="button" onclick="DeleteData()">Delete</button>
                <button id="btnremove" class="btn btn-primary" type="button" onclick="ClearRemoveModel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/js/Pages/SupplierColumnSetting.js"></script>
}
